{% extends "base.html" %}

{% block content %}
   <div class="container theme-showcase" role="main">
      <div class="jumbotron" style = "text-align: center;">
         <h2 style = "text-align: center;">Guessing game</h2>
         <form action = "{{ url_for('game') }}" method = post>
            <p>{{form.response_string}}</p>
            {{ form.hidden_tag() }}           
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               <p>{{ form.Guess }}</p>
               <p>{{ form.submit }}</p>
            </div>        
         </form>
      </div>
   </div>
{% endblock %}